/* Définition des polices personnalisées ///////////////////////////////////////////////////////////*/

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    src: url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype');       
    font-weight: 500;
    font-style: normal;

}

/*
{
	margin: 0;
}

/* Eléments principaux de la page ///////////////////////////////////////////////////////////////////*/

body
{
	font-family: Raleway, Arial, sans-serif;
	color: #181818;
    width: 100%;
    
}

h1
{
	font-size: 1.3em;
	font-weight: 900;

}

h2
{
    font-size: 1.1em;
}

h3
{
    font-size: 1em;
}

p
{
    font-size: 0.8em;
}





/* Header ////////////////////////////////////////////////////////////////////////////////////////*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}





/* Navigation ///////////////////////////////////////////////////////////////////////////////////*/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 50px;
}

nav a
{
    font-size: 1em;
    color: black;
    padding-bottom: 1px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#style_inscrire
{
    font-weight: bold;
    color: #0065FC;
}


/* Corps /////////////////////////////////////////////////////////////////////////////////*/

#filtres
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 70%;
}

.icons_filtres
{
    size: 3px;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50px;
}




#section2
{
    display: flex;
    justify-content: space-around;

}

section article
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 70%;
    

}

section aside
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 25%;
    
}


section article ul li a
{
    text-decoration: none;
    color: black;
}

section article ul li a img
{

   max-height: 200px;
   border-radius: 20px 20px 0 0;

}

section aside ul li a
{
    text-decoration: none;
    color: black;
}

section aside ul li a img
{
    width: 200px;
   height: 100px;
}


#hebergements_block
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


.hebergements
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 20px;
    margin: auto;

}




#populaires_block
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.populaires
{
    display: flex;
    flex-direction: column;
}


#activites_block
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: auto;

}

.activites
{
    width: 23%;
    margin: auto;
}

section ul li figure a
{
    text-decoration: none;
    color: black;
}


.stars 
{
    display: inline-flex;
    font-size: 1em;
    list-style-type: none;
}


.fa-star 
{
    color: gray;
}

.fa-star.gold 
{
    color: #0065FC;
}




/* Footer /////////////////////////////////////////////////////////////////////////////// */

footer
{
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-left: 0;
}

#a_propos
{
    width: 28%;
}

#nos_hebergements
{
    width: 28%;
}

#assistance
{
   width: 28%;
}

#footers_liens
{
	
}

/*EXEMPLE chemin CSS
section form.formulaire input.button[type="button"]{

}

ul#hebergements_block{

}

#hebergements_block li {

}

#hebergements_block li a {

}*/