/* Définition des polices personnalisées ///////////////////////////////////////////////////////////*/

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    src: url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype');       
    font-weight: 500;
    font-style: normal;
}

/*
{
	margin: 0;
}

/* Eléments principaux de la page ///////////////////////////////////////////////////////////////////*/

body
{
	font-family: Raleway, Arial, sans-serif;
	color: #181818;
    width: 100%;
    padding: 0;
    margin: 0;
}
    

h1
{
	font-size: 1.3em;
	font-weight: 900;
}

h2
{
    font-size: 1.1em;
}

h3
{
    font-size: 1em;
}

p
{
    font-size: 0.9em;
}




/* Header ////////////////////////////////////////////////////////////////////////////////////////*/


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 0px 0 50px; 
}

body header img
{
    padding-top: 40px;
    padding-bottom: 20px;
}



/* Navigation ///////////////////////////////////////////////////////////////////////////////////*/


nav ul
{
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    margin-bottom: 41px;
}

nav li
{   
    
}

nav a
{
    font-size: 1em;
    color: black;
    padding: 0px 30px 0 30px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 42px;
}

#style_inscrire
{
    font-weight: bold;
    color: #0065FC;
}



/* Corps /////////////////////////////////////////////////////////////////////////////////*/

/* Corps ////// SECTION 1 ////////////////////////////////////////////////////////////////*/


#section1
{
    padding: 0 50px 0 50px;
}

section#section1 p
{
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 0;
}


.formulaire
{
     margin-bottom: 25px;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 13px 15px 15px;
    border: 2px solid #F2F2F2;
}

.champ
{
    font-family: Raleway, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    padding: 13px 15px 13px 15px;
    position: relative;
    left: -4px;
}

.bouton
{
    font-family: Raleway, Arial, sans-serif;
    font-size: 1em;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0;
    border: 1px solid #0065FC;
    padding: 14px 15px 14px 15px;
    position: relative;
    left: -8px;
}




#filtres
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 70%;
    padding-left: 0px;
}


#filtres li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.filtres_text
{
    padding-right: 20px;
    padding-left: 15px;
}

.icons_filtres
{

    color: #0065FC;
    background-color: #DEEBFF;
    padding: 12px;

    border-radius: 50px;
}

.fa-money-bill-wave
{
    

}

#information
{
    padding: 30px 0 10px 0;
}

.fa-info
{
    font-size: 10px;
    color: #0065FC;
    padding: 4px 7px 4px 8px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin: 0 10px 0px 0;
}


/* Corps ////// SECTION 2 ////////////////////////////////////////////////////////////////*/

#section2
{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}


section#section2 article
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 20px 40px 0px 40px;   
}

section#section2 article ul li a
{
    text-decoration: none;
    color: black;
}

section#section2 article ul li a img
{
   width: 100%;
   max-height: 120px;
   border-radius: 15px 15px 0 0;
   margin: 0;
   padding: 0;
}

section#section2 article a
{
    text-decoration: none;
    color: black;
    

}

li.hebergements h3,p,ul.stars
{
    margin: 5px 0 0 10px;
}



#hebergements_block
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 -10px 0;
}


.hebergements
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px silver;
    overflow: hidden;
    padding: 0 0 5px 0;
    margin: 0 0px 30px 0;
    box-shadow: 0px 1px 10px silver;
}





section#section2 aside
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 31%;
    padding: 20px 0px 0px 0px;
}

section#section2 aside ul li a 
{
    text-decoration: none;
    color: black;
}

section#section2 aside ul li figure
{
    width: 130px;
    height: ;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section#section2 aside ul li figure img
{
   max-height: 200px;
   border-radius: 15px 0px 0 15px;
}

section#section2 aside h1
{
    padding: 0 0 0 35px;
}

li.populaires a h3,p,ul.stars
{
    margin: 10px 30px 0 20px;
}

li.populaires ul.stars
{
    padding: 30px 0 0 0;
}


#populaires_block
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
}


.populaires
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0px 1px 10px silver;
    padding: 0;
    margin: 0 40px 30px 40px;
    height: 140px;
    overflow: hidden;
}



/* Corps ////// SECTION 3 ////////////////////////////////////////////////////////////////*/



#section3
{ 
    padding: 50px 50px 50px 50px;
}

#activites_block
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.activites
{
    width: 23%;
    max-height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 10px silver;
}

section#section3 figure
{
    margin: 0;
}

section#section3 ul li figure a
{
    text-decoration: none;
    color: black;
}

section#section3 ul li figure img
{
    height: 400px;
}

section#section3 ul li figure figcaption
{
    font-weight: bold;
    padding: 12px 0 0 20px;
}




.stars 
{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.fa-star 
{
    color: #F2F2F2;
    font-size: 0.8em;
}

.fa-star.gold 
{
    color: #0065FC;
    font-size: 0.8em;
}




/* Footer /////////////////////////////////////////////////////////////////////////////// */


footer
{
    background-color: #F2F2F2;
    padding: 15px 50px 30px 50px; 
}

#footer_block
{
    display: flex;
    padding-left: 0;
}

#a_propos
{
    width: 33%;
    list-style-type: none;
    padding-left: 0;
}

#nos_hebergements
{
    width: 33%;
    list-style-type: none;
    padding-left: 0;
}

#assistance
{
   width: 33%;
   list-style-type: none;
   padding-left: 0;
}

.footers_liens
{
	list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
}

.footers_liens li 
{
    padding-bottom: 10px;
}

.footers_liens li a
{
    text-decoration: none;
    color: black;
}