/* Définition des polices personnalisées ///////////////////////////////////////////////////////////*/

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    src: url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype');       
    font-weight: 500;
    font-style: normal;
}

/*
{
	margin: 0;
}

/* Eléments principaux de la page ///////////////////////////////////////////////////////////////////*/

body
{
	font-family: Raleway, Arial, sans-serif;
	color: #181818;
    padding: 0;
    margin: 0;
}
    

h1
{
	font-size: 1.3em;
	font-weight: 900;
}

h2
{
    font-size: 1.1em;
}

h3
{
    font-size: 1em;
}

p
{
    font-size: 0.9em;
}




/* Header ////////////////////////////////////////////////////////////////////////////////////////*/


header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 0px 0 50px; 
}

body header img
{
    padding-top: 40px;
    padding-bottom: 20px;
}



/* Navigation ///////////////////////////////////////////////////////////////////////////////////*/


nav
{
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 0;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin: 0 30px 0 0;  
}


nav ul li a
{
    font-size: 1em;
    color: black;
    padding: 0px 30px 0 30px;
    margin: 0px 0px 40px 0;
    text-decoration: none;  
}

nav ul li a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 43px;
}

#style_inscrire
{
    font-weight: bold;
    color: #0065FC;
    text-decoration: none;
    margin: 0px 0px 40px 0;
}


/* Corps /////////////////////////////////////////////////////////////////////////////////*/

/* Corps ////// SECTION 1 ////////////////////////////////////////////////////////////////*/


#section1
{
    padding: 0 50px 0 50px;
}

section#section1 p
{
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 0;
}


.formulaire
{
     margin-bottom: 25px;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 13px 15px 15px;
    border: 2px solid #F2F2F2;
}

.champ
{
    font-family: Raleway, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    padding: 13px 15px 13px 15px;
    position: relative;
    left: -4px;
}

.bouton
{
    font-family: Raleway, Arial, sans-serif;
    font-size: 1em;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0;
    border: 1px solid #0065FC;
    padding: 14px 15px 14px 15px;
    position: relative;
    left: -8px;
}

.bouton_min
{
    display: none;
}



#filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    width: ;
    margin: 0px 0 0px 0;
    padding: 5px 0px 5px 0;
}

#filtres li
{
    display: flex;
}

#filtres li h2
{
    padding: 0 0px 0 0;
}

#filtres li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px solid #F2F2F2;
    border-radius: 100px;
    padding: 10px 0 6px 0;
    margin: 0 0 0 50px;
}

#filtres li a:hover
{
   background-color: #0065FC;
   color: white;
}


.filtres_text
{
    padding: 0 20px 0 10px;
}

#filtres li a i
{
    width: 22px;
    height: 22px;
    font-size: 1em;
}

.icons_filtres
{
    margin: 0px;
    text-align: center;
    border-radius: 100px;
    color: #0065FC;
    background: #DEEBFF;
    padding: 13px 13px 13px 13px;
    position: relative;
    left: -4px;
}


#information
{
    padding: 30px 0 10px 0;
}

.fa-info
{
    font-size: 10px;
    color: #0065FC;
    padding: 4px 7px 4px 8px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin: 0 10px 0px 0;
}


/* Corps ////// SECTION 2 ////////////////////////////////////////////////////////////////*/

#section2
{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}


/* Corps ////// SECTION 2 //////HEBERGEMENTS///////////////////////////////////////////////*/


section#section2 article
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    padding: 20px 40px 0px 40px;   
}


section#section2 article ul li figure
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section#section2 article ul li figure img
{
   max-width: 100%;
   border-radius: 15px 15px 0 0;
}

section#section2 article ul li a
{
    text-decoration: none;
    color: black;
}

li.hebergements a h3
{
    margin: 10px 30px 0 20px;
}

li.hebergements a p
{
    margin: 5px 30px 0 20px;
}

li.hebergements a ul.stars
{
    margin: 5px 30px 0 20px;
}

section#section2 article a
{
    text-decoration: none;
    color: black;
}


#hebergements_block
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 -10px 0;
}


.hebergements
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 200px;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px silver;
    overflow: hidden;
    padding: 0 0 5px 0;
    margin: 0 0 30px 0;
}


/* Corps ////// SECTION 2 //////POPULAIRES///////////////////////////////////////////////*/


section#section2 aside
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 31%;
    padding: 20px 0px 0px 0px;
}


section#section2 aside ul li figure
{
    width: 60%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section#section2 aside ul li figure img
{ 
   max-height: 150%;
   border-radius: 15px 0px 0 15px;
}

section#section2 aside h1
{
    display: flex;
    justify-content: space-between;
    padding: 0 35px 0 35px;
}

#populaires_block
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
}

.populaires
{
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0px 1px 10px silver;
    padding: 0;
    margin: 0 40px 30px 40px;
    height: 140px;
    overflow: hidden;
}

.populaires_block_text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    margin: 0px 10px 5px 20px;
    width: 300px;
}

.populaires_text
{
    margin: 5px 10px 0 0;
}

li.populaires a div h3,p
{
    margin: 10px 0px 0 0px;
}




/* Corps ////// SECTION 3 - ACTIVITES ////////////////////////////////////////////////////////*/



#section3
{ 
    padding: 50px 50px 70px 50px;
}

#activites_block
{
   
    list-style-type: none;
    margin: auto;
    padding: 10px 0 0 0;
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;

}

#activites_block figure
{
    position: relative;
    max-height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 10px silver;
    margin: 0;
    padding: 0;
}

#activites_block figure:first-child
{
    grid-column: 1;
    grid-row: 1 / 3;
}

#activites_block figure:nth-child(2)
{
    grid-column: 2;
    grid-row: 1;
}

#activites_block figure:nth-child(3)
{
    grid-column: 2;
    grid-row: 2;
}

#activites_block figure:nth-child(4)
{
    grid-column: 3;
    grid-row: 1 / 3;

}    

#activites_block figure:nth-child(5)
{
    grid-column: 4;
    grid-row: 1;
}

#activites_block figure:nth-child(6)
{
    grid-column: 4;
    grid-row: 2;
}


#activites_block figure a
{
    text-decoration: none;
    color: black;
}


#activites_block figure img
{
    max-height: 120%;
}

#activites_block figure figcaption
{
    width: 100%;
    font-weight: bold;
    padding: 15px 0 15px 20px;
    background-color: white;
    position: absolute;
    bottom: 0px;
}


.stars 
{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fa-star 
{
    color: #F2F2F2;
    font-size: 0.8em;
}

.fa-star.gold 
{
    color: #0065FC;
    font-size: 0.8em;
}




/* Footer /////////////////////////////////////////////////////////////////////////////// */


footer
{
    background-color: #F2F2F2;
    padding: 15px 50px 30px 50px; 
}

#footer_block
{
    display: flex;
    padding-left: 0;
}

#a_propos
{
    width: 33%;
    list-style-type: none;
    padding-left: 0;
}

#nos_hebergements
{
    width: 33%;
    list-style-type: none;
    padding-left: 0;
}

#assistance
{
   width: 33%;
   list-style-type: none;
   padding-left: 0;
}

.footers_liens
{
	list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
}

.footers_liens li 
{
    padding-bottom: 10px;
}

.footers_liens li a
{
    text-decoration: none;
    color: black;
}



/*////   Media queries   /////////////////////////////////////////////////////////////////////////////////////*/

/*////    PHONE   ///////////////////////////////////////////////////////////////////////////////////////////*/


@media (max-width: 575.98px)
{



    header
    {
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 0 0px;
        width: auto;
        flex-direction: column; 
    }

    body header img
    {
        padding: 35px 0 0px 20px;
    }

    h1
    {
        font-size: 1.4em;
    }

/*////////////////////////////////////////////*/    

   

    nav
    { 
        margin: 0 0 0 0;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    nav ul
    {
        margin: 0 0px 0 0;  
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    nav ul li
    {
        border-bottom: 4px solid #F2F2F2;
        width: 100%;
        padding: 0 0px 15px 0px;
        text-align: center;

    }


    nav ul li a
    { 
        border-bottom: 0px solid #F2F2F2;
        padding: 0;

    }

    nav ul li:hover
    {
        color: #0065FC;
        border-top: 0px;
        padding-top: 0px;
        border-bottom: 4px solid #0065FC;
        padding-bottom: 15px;
    }

    nav ul li a:hover
    {
        color: none;
        border-top: 0px;
        padding-top: 0px;
    }

    #style_inscrire
    {
        width: ;
        margin: -30px 20px 40px 0;
    }

/*////////////////////////////////////////////*/

    #section1
    {
        width: auto;
        padding: 20px 20px 0px 20px;
    }


/*////////////////////////////////////////////*/

    .formulaire
    {
         width: 100%;
         display: flex;
         justify-content: space-between;
         margin: 0 0 20px 0;

    }

    .champ
    {
        width: 100%;
        
    }


    .bouton
    {
        display: none;
    }

    .bouton_min
    {
        
        display: block;
        font-size: 1em;
        color: white;
        background-color: #0065FC;
        border-radius: 15px 15px 15px 15px;
        border: 1px solid #0065FC;
        padding: 14px 18px 14px 18px;
        position: relative;
        left: -10px;
        width: auto;
    }



/*////////////////////////////////////////////*/
    

    #filtres
    {
        width: auto;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: ;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    #filtres li
    {
       width: auto
    }

    #filtres li a
    {
       margin: 0 0px 10px 0;
    }

    #filtres li h2
    {
        padding: 0 250px 0 0;
    }


/*////////////////////////////////////////////*/


    #section2
    {
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
        padding: 0;
    }

/*////////////////////////////////////////////*/    

    section#section2 article
    {
        width: auto;
        padding: 15px 20px 0 20px;
        background-color: white;
        border-radius: 0px;
    }

    #hebergements_block
    {
        flex-direction: column;
    }

    .hebergements
    {
        width: auto;
        margin: 0 0 15px 0;
    }
    
/*////////////////////////////////////////////*/


    section#section2 aside
    {
        width: 100%;
        border-radius: 0px;
    }

    section#section2 aside h1
    {
        padding: 0  20px 0 20px;
    }

    #populaires_block
    {
        width: auto;
        margin: 0 20px 20px 20px;
    }

    .populaires
    {
        margin: 0 0 15px 0;    
    }


/*////////////////////////////////////////////*/
    
    #section3
    {
        width: auto;
        padding: 20px 20px 50px 20px;

    }

    #activites_block
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
    }

    #activites_block figure
    {
        position: relative;
        height: 190px;
    }

    #activites_block figure img
    {
        max-height: none;
        width: 100%;
    }

  

/*////////////////////////////////////////////*/

    footer
    {
        width: auto; 
        padding-left: 20px;
        padding-right: 20px;
    }

    #footer_block
    {

        flex-direction: column;
        

    }

    footer ul#footer_block li
    {
        width: auto; 

    }

}




/*///////////////////////////////////////////////////////////////////////////////////*/
/*////    TABLETTE     //////////////////////////////////////////////////////////////*/


@media (min-width: 576px) and (max-width: 1199.98px)
{


    header
    {
        padding: 0px 0px 0 40px;
        width: auto; 
    }

/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/

    #filtres
    {
        padding: 0px 0px 0px 0;
        width: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        float: none;
    }

    #filtres li
    {
        margin: 0 0 10px 0;
    }


    #filtres li a
    {
        margin: 0 0 0px 0px;
    }



/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/
        
        #section2
    {
        justify-content: space-between;
        
        flex-direction: column-reverse;
        padding: 0 20px 0 20px;
        width: auto;
    }

/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/


    section#section2 article
    {
        padding: 20px 20px 0px 20px;
        width: auto;   
    }


    #hebergements_block
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        
        margin: 0 0 -20px 0;
    }


/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/
    

    section#section2 aside
    {
        width: auto;
        padding: 20px 10px 0px 10px;
        margin: 0 0 30px 0;
    }

    section#section2 aside h1
    { 
        padding: 0 10px 0 10px;
    }

    #populaires_block
    {
        flex-direction: row;
    }

    .populaires
    {
        height: 150px;
        margin: 0 5px 30px 5px;
    }

    .populaires_text
    {
        margin: 5px 5px 0 0;
    }

    li.populaires a div h3,p
    {
        margin: 5px 0px 0 0px;
    }


/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/

    #section3
    {
        width: auto;
        padding: 20px 40px 50px 40px;

    }

    #activites_block
    {
        width: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        grid-gap: 25px;
        flex-wrap: wrap;
    }

    #activites_block figure
    {
        
        height: 190px;
        width: 46%;
    }

    #activites_block figure img
    {
        max-height: none;
        width: 100%;
    }




}
